/*Посилання*/
a {
  color: inherit; /* Зберігає колір тексту */
  text-decoration: none; /* Прибирає підкреслення */
}

.nav-link {
  &.active {
    color: #0d7501;
    font-weight: bold;
  }
  &:hover {
    font-weight: bold;
  }
}

li {
  list-style: none; /*прибираємаркування списку*/
}

body {
  background-color: #fcf9aa; /*колір фону*/
}

header {
  background-color: #9ae347; /*колір меню*/
}

button {
  color: #fff;
  padding: 8px 22px;
  border-radius: 6px;
  background: #9ae347;
  transition: all 0.2s ease;
  &:hover {
    background-color: #0d7501; /*зміна кольору при наводці*/
  }
  &:active {
    transform: scale(0.96);
  }
} /*кнопки*/

.button-go-home {
  color: black;
  padding: 10px 30px;
  border-radius: 6px;
  background: #0d7501;
  transition: all 0.2s ease;
  &:hover {
    background-color: #0d7501; /*зміна кольору при наводці*/
  }
  &:active {
    transform: scale(0.96);
  }
  &:hover {
    font-size: 16px;
  }
} /*кнопка повернутись на головну*/

.button-go-current {
  color: black;
  padding: 10px 30px; /*розмір*/
  border-radius: 6px;
  background: #0d7501;
  transition: all 0.2s ease;
  &:hover {
    background-color: #0d7501;
  }

  &:active {
    transform: scale(0.96);
  }
  &:hover {
    font-size: 16px;
  }
} /*кнопка повернутись на початку*/

.square {
  width: 240px;
  height: 240px;
  padding: 130px;
} /*квадратні фото*/

.rectangle {
  width: 490px;
  height: 240px;
} /*прямокутні фото*/

h1 {
  width: 350px;
  margin-left: 630px;
  margin-right: 630px;
} /*назва*/

.flex-button {
  display: flex;
  justify-content: space-evenly;
}

.flex-nav {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch; /* Додає вирівнювання по висоті */
  gap: 30px;
}

.container {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 530px;
  min-height: 480px; /* Задає мінімальну висоту */
  display: flex;
  flex-direction: column; /* Упорядковує внутрішні елементи вертикально */
  justify-content: space-between; /* Розподіл місця між елементами */
  gap: 15px;
  padding: 3%;
}
.title {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

.div_statty {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
}
